# Spark MLlib z wykorzystaniem PySpark

## 1. Czy jest Spark MLlib?

MLlib to biblioteka Machine Learning silnika Spark, której architektura kontrukcji potoków ML jest bardzo podobna do tej z pakietu [scikit-learn](https://scikit-learn.org/stable/).

Jej możliwości to:

* Algorytmy uczenia maszynowego: klasyfikacja, regresja, klastrowanie i filtrowanie oparte na współpracy (collaborative filtering).
* Featurization: ekstrakcja cech, transformacja, redukcja wymiarowości i selekcja
* Potoki (pipelines): narzędzia do konstruowania, oceny i dostrajania potoków ML
* Trwałość: zapisywanie i ładowanie algorytmów, modeli i potoków
* Narzędzia: algebra liniowa, statystyka, obsługa danych itp.

Biblioteki obliczeń numerycznych Spark MLlib mogą wykorzystywać zewnętrzne biblioteki w celu przyspieszania konkretnych obliczeń w zależności od tego czy są dostępne w systemie uruchomieniowym. Może to być np. [Intel MKL](https://www.intel.com/content/www/us/en/developer/tools/oneapi/onemkl.html), [Open BLAS](http://www.openmathlib.org/OpenBLAS/) czy numpy w przypadku PySpark (numpy w wersji minimum 1.4).


Listę dostępnych komponentów z wyżej wymienionych kategorii znjadziemy w dokumentacji API Spark MLlib:

> Lista komponentów API MLlib: https://spark.apache.org/docs/latest/api/python/reference/pyspark.ml.html

### 1.1. Komponenty potoku ML w Spark MLlib

#### 1.1.1 Transformer

> Dokumentacja API: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.Transformer.html

Jest to algorytm, który przekształca obiekt DataFrame w inny obiekt DataFrame. Może to być algorytm, który mapuje funkcję na kolumnie (wykonuje operację na każdym jej wierszu), a następnie zwraca nowy obiekt DataFrame z tą dodatkową kolumną. Może to być również zastosowanie modelu ML, który do przekazanej ramki Spark doda kolumnę z predykcjami dla obserwacji z tej ramki.

MLlib dostarcza abstrakcyjnej klasy, która zapewnia metodę `transform()`, która jest głównym jej komponentem i to poprzez tę metodę przekazujemy dane do wykonania transformacji.

#### 1.1.2 Estimator

> Dokumentacja API: https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.Estimator.html

Estymator jest również Transformerem (może również zwracać obiekt typu Transformer dla ramki danych Spark), ale tak mogło się stać musi być wcześniej zainicjalizowany na danych (wywołanie metody `fit()`. Można to porównać do wywołania metody statycznej (Transformer) oraz metody obiektu (Estimator). Tutaj może to być wywołanie np. LogisticRegression, która jest transformerem, gdyż dodaje predykcje do przekazanej ramki danych, ale wymaga wcześniejszego "wytrenowania" (metoda `fit()`) aby móc dokonać transformacji, więc jest również estymatorem.


#### 1.1.3 Pozostałe elementy potoków:

* **Models** - są to obiekty wytrenowanych modeli zwracane przez Estymatory,
* **Params** - obiekty, które wykorzystywane są do definiowania parametrów w potoku. Patrz listing 4, w którym został zdefiniowany nowy parametr,
* **Predictor** - dedykowana klasa estymatora do zadań regresji i klasyfikacji.

## 2. Przykłady

**_Listing 1 - uruchomienie środowiska Spark_**

In [2]:
import findspark
from pyspark.sql import SparkSession

findspark.init()
spark = SparkSession\
        .builder\
        .master("local[2]")\
        .appName("Spark MLlib")\
        .getOrCreate()
spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/18 08:10:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### 2.1 Transformery

**_Listing 2 - Binarizer_**

In [19]:
from pyspark.ml.feature import Binarizer
from pyspark.ml import Transformer

df = spark.createDataFrame([(0.5,), (0.1,), (0.6,), (0.9,), (0.0,), (0.7,), (1.2,)], ["values"])
binarizer = Binarizer(threshold=0.5, inputCol="values", outputCol="features")

df.show()
print(binarizer.explainParams())
isinstance(binarizer, Transformer)

# i ostatcznie wykonanie transformacji
df_transformed = binarizer.transform(df)
df_transformed.show()

+------+
|values|
+------+
|   0.5|
|   0.1|
|   0.6|
|   0.9|
|   0.0|
|   0.7|
|   1.2|
+------+

inputCol: input column name. (current: values)
inputCols: input column names. (undefined)
outputCol: output column name. (default: Binarizer_a5fe8a6f20b0__output, current: features)
outputCols: output column names. (undefined)
threshold: Param for threshold used to binarize continuous features. The features greater than the threshold will be binarized to 1.0. The features equal to or less than the threshold will be binarized to 0.0 (default: 0.0, current: 0.5)
thresholds: Param for array of threshold used to binarize continuous features. This is for multiple columns input. If transforming multiple columns and thresholds is not set, but threshold is set, then threshold will be applied across all columns. (undefined)
+------+--------+
|values|features|
+------+--------+
|   0.5|     0.0|
|   0.1|     0.0|
|   0.6|     1.0|
|   0.9|     1.0|
|   0.0|     0.0|
|   0.7|     1.0|
|   1.2|     1.0|
+------+--------+

**_Listing 3 - Tokenizer oraz RegexTokenizer_**

In [46]:
from pyspark.ml.feature import Tokenizer, RegexTokenizer

df1 = spark.createDataFrame([
    ('Ala ma kota.',), 
    ('Polacy nie gęsi i swój język mają.',), 
    ('Co ma być to będzie...',), 
    ('Pan Tadeusz, czyli ostatni zajazd na Litwie.',)], 
    ['zdania'])

df1.show(truncate=False)

+--------------------------------------------+
|zdania                                      |
+--------------------------------------------+
|Ala ma kota.                                |
|Polacy nie gęsi i swój język mają.          |
|Co ma być to będzie...                      |
|Pan Tadeusz, czyli ostatni zajazd na Litwie.|
+--------------------------------------------+

In [48]:
# Tokenizer dzieli łancuch znaków na tokeny na podstawie białych znaków (ang. whitespace)
tokenizer = Tokenizer(inputCol='zdania', outputCol='tokeny')
df1_transformed = tokenizer.transform(df1)
df1_transformed.show(truncate=False)

+--------------------------------------------+----------------------------------------------------+
|zdania                                      |tokeny                                              |
+--------------------------------------------+----------------------------------------------------+
|Ala ma kota.                                |[ala, ma, kota.]                                    |
|Polacy nie gęsi i swój język mają.          |[polacy, nie, gęsi, i, swój, język, mają.]          |
|Co ma być to będzie...                      |[co, ma, być, to, będzie...]                        |
|Pan Tadeusz, czyli ostatni zajazd na Litwie.|[pan, tadeusz,, czyli, ostatni, zajazd, na, litwie.]|
+--------------------------------------------+----------------------------------------------------+

In [ ]:
# pobieramy przykładowy plik
!wget https://raw.githubusercontent.com/logpai/loghub/refs/heads/master/Apache/Apache_2k.log

In [53]:
!head -5 Apache_2k.log

[Sun Dec 04 04:47:44 2005] [notice] workerEnv.init() ok /etc/httpd/conf/workers2.properties
[Sun Dec 04 04:47:44 2005] [error] mod_jk child workerEnv in error state 6
[Sun Dec 04 04:51:08 2005] [notice] jk2_init() Found child 6725 in scoreboard slot 10
[Sun Dec 04 04:51:09 2005] [notice] jk2_init() Found child 6726 in scoreboard slot 8
[Sun Dec 04 04:51:09 2005] [notice] jk2_init() Found child 6728 in scoreboard slot 6

In [57]:
df2 = spark.read.text('Apache_2k.log')
reg_tokenizer = RegexTokenizer(pattern=']\s\[|]\s|^\[' ,inputCol='value', outputCol='tokens')
df_transformed = reg_tokenizer.transform(df2)
df_transformed.select(df_transformed.tokens).show(5, truncate = False)

+-------------------------------------------------------------------------------------------+
|tokens                                                                                     |
+-------------------------------------------------------------------------------------------+
|[sun dec 04 04:47:44 2005, notice, workerenv.init() ok /etc/httpd/conf/workers2.properties]|
|[sun dec 04 04:47:44 2005, error, mod_jk child workerenv in error state 6]                 |
|[sun dec 04 04:51:08 2005, notice, jk2_init() found child 6725 in scoreboard slot 10]      |
|[sun dec 04 04:51:09 2005, notice, jk2_init() found child 6726 in scoreboard slot 8]       |
|[sun dec 04 04:51:09 2005, notice, jk2_init() found child 6728 in scoreboard slot 6]       |
+-------------------------------------------------------------------------------------------+
only showing top 5 rows

**_Listing 4 - Własny Transformer_**

In [96]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark import keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param, Params, TypeConverters
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable

class CustomBinarizer(
    Transformer,
    HasInputCol,               # Sets up an inputCol parameter
    HasOutputCol,              # Sets up an outputCol parameter
    DefaultParamsReadable,     # Makes parameters readable from file
    DefaultParamsWritable      # Makes parameters writable from file
                     ):

    true_val = Param(
        Params._dummy(),
        "true_val",
        "List of values to be mapped as logical 1.",
        typeConverter=TypeConverters.toList, 
    )
    
    @keyword_only
    def __init__(self,  inputCol=None, outputCol=None, true_val: list =None):
        super().__init__()
        self._setDefault(true_val=None)
        kwargs = self._input_kwargs
        self.setParams(**kwargs)

    @keyword_only
    def setParams(self, inputCol=None, outputCol=None, true_val=None):
        kwargs = self._input_kwargs
        return self._set(**kwargs)
  
    def setTrueVal(self, new_true_val):
        return self.setParams(true_val=new_true_val)
  
    # Required if you use Spark >= 3.0
    def setInputCol(self, new_inputCol):
        return self.setParams(inputCol=new_inputCol)
  
    # Required if you use Spark >= 3.0
    def setOutputCol(self, new_outputCol):
        return self.setParams(outputCol=new_outputCol)
  
    def getTrueVal(self):
        return self.getOrDefault(self.true_val)

    def _transform(self, df):
        """
        Przetwarza kolumnę ustawiając wartość na 1 jeżeli zawiera ona jedną z wartości true_val,
        w przeciwnym wypadku przypisuje wartość 0
        """
        if not self.isSet("inputCol"):
            raise ValueError(
                "No input column set for the "
                "CustomBinarizer transformer."
            )
        if not self.isSet("true_val"):
            raise ValueError(
                "You must provide list of values to map as logical True."
            )

        def binarize(val):
            """Funkcja pomocnicza"""
            if str(val) in self.getTrueVal():
                return 1
            else:
                return 0
        binarize_udf = udf(binarize, StringType())
        return df.withColumn(self.getOutputCol(), binarize_udf(df[self.getInputCol()]))

In [59]:
df3 = spark.createDataFrame([('error',), ('warning',), ('notice',), ('info',), ('error',)], ['log'])
df3.show(truncate=False)

+-------+
|log    |
+-------+
|error  |
|warning|
|notice |
|info   |
|error  |
+-------+

In [97]:
cust_binarizer = CustomBinarizer(true_val=['error','warning'], inputCol='log', outputCol='important')
df3_transformed = cust_binarizer.transform(df3)
df3_transformed.show()

+-------+---------+
|    log|important|
+-------+---------+
|  error|        1|
|warning|        1|
| notice|        0|
|   info|        0|
|  error|        1|
+-------+---------+

### 2.2 Estymatory

**_Listing 5 - StringIndexer oraz OneHotEncoder_**

In [113]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer
from pyspark.ml.linalg import Vectors


df3 = spark.createDataFrame([('error',), ('warning',), ('notice',), ('info',), ('error',)], ['log'])

# StringIndexer to estymator zamienia wartości kategoryczne na numeryczne poprzez podanie indeksu elementu z
# utworzonej listy wartości ze wskazanej kolumny
stringIndexer = StringIndexer(inputCol="log", outputCol="log_idx")

# metoda fit zwraca z kolej obiekt typu transformer
model = stringIndexer.fit(df3)


transformed_df3 = model.transform(df3)
transformed_df3.show()

#  teraz możemy użyć kodowania one-hot
ohe = OneHotEncoder()
# parametry można również ustawiać przez dedykowane metody zamiast przekazywać do konstruktora
# w formie kwargs
ohe.setInputCols(["log_idx"])
ohe.setOutputCols(["onehot_log"])

model = ohe.fit(transformed_df3)
transformed_df3 = model.transform(transformed_df3)
transformed_df3.show()

# typ kolumny to będzie wektor rzadki (SparseVector)
# przykładowy wektor: (3,[0],[1.0])
# oznacza, że wektor ma długość 3, kolejna wartość to indeksy, na których występują wartości w tym wektorze, a ostatni to faktyczne wartości w tym wektorze
transformed_df3.dtypes
transformed_df3.select(transformed_df3.onehot_log).head()[0]

+-------+-------+
|    log|log_idx|
+-------+-------+
|  error|    0.0|
|warning|    3.0|
| notice|    2.0|
|   info|    1.0|
|  error|    0.0|
+-------+-------+

+-------+-------+-------------+
|    log|log_idx|   onehot_log|
+-------+-------+-------------+
|  error|    0.0|(3,[0],[1.0])|
|warning|    3.0|    (3,[],[])|
| notice|    2.0|(3,[2],[1.0])|
|   info|    1.0|(3,[1],[1.0])|
|  error|    0.0|(3,[0],[1.0])|
+-------+-------+-------------+

SparseVector(3, {0: 1.0})

## 3. Przykład całego eksperymentu ML z użyciem Spark MLlib

Poniżej przedstawiono kolejne kroki przykładowego eksperymentu ML z wykorzystaniem biblioteki MLlib. Przedstawiono przykład regresji dla zbioru danych 50_startups (pobrany poniżej). Kolejne kroki obejmują zakodowanie wartości kategorycznych do postaci wektora onehot, a następnie rozbicie go na oddzielne cechy binarne, podział danych na zbiór train i test oraz uruchomienie modelu i jego ewaluacja. Nie zostały tutaj opisane wszystkie szczegóły wzorów metryk, matematycznych szczegółów implementacji algorytmów.

In [117]:
# pobieramy dane
!wget https://raw.githubusercontent.com/shorya1996/ML_Sklearn/refs/heads/master/Multiple%20Linear%20Regression/50_Startups.csv

--2024-12-18 11:39:07--  https://raw.githubusercontent.com/shorya1996/ML_Sklearn/refs/heads/master/Multiple%20Linear%20Regression/50_Startups.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2386 (2.3K) [text/plain]
Saving to: ‘50_Startups.csv’

50_Startups.csv     100%[===================>]   2.33K  --.-KB/s    in 0.001s

2024-12-18 11:39:08 (2.01 MB/s) - ‘50_Startups.csv’ saved [2386/2386]

In [118]:
!ls | grep *.csv

50_Startups.csv

In [119]:
df = spark.read.csv('50_Startups.csv', header=True, inferSchema=True)

In [120]:
df.show()

+---------+--------------+---------------+----------+---------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|
+---------+--------------+---------------+----------+---------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|
| 162597.7|     151377.59|      443898.53|California|191792.06|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|
|144372.41|     118671.85|      383199.62|  New York|182901.99|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|
|134615.46|     147198.87|      127716.82|California|156122.51|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|
|120542.52|     148718.95|      311613.29|  New York|152211.77|
|123334.88|     108679.17|      304981.62|California|149759.96|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|
|100671.96|      91790.61|      249744.55|California| 144259.4|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|
| 91992.39|     135495.07|      252664.93|California|134307.35|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|
|114523.61|     122616.84|      261776.23|  New York|129917.04|
| 78013.11|     121597.55|      264346.06|California|126992.93|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|
|  86419.7|     153514.11|            0.0|  New York|122776.86|
+---------+--------------+---------------+----------+---------+
only showing top 20 rows

In [121]:
df.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)

In [122]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import OneHotEncoder

# zamiana wartości kategorycznych na numeryczne
indexer = StringIndexer(inputCol='State', outputCol='State_numeric')
indexer_fitted = indexer.fit(df)
df_indexed = indexer_fitted.transform(df)

# one-hot encoding
encoder = OneHotEncoder(inputCols=['State_numeric'], outputCols=['State_onehot'])
df_onehot = encoder.fit(df_indexed).transform(df_indexed)

df_onehot.printSchema()

root
 |-- R&D Spend: double (nullable = true)
 |-- Administration: double (nullable = true)
 |-- Marketing Spend: double (nullable = true)
 |-- State: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- State_numeric: double (nullable = false)
 |-- State_onehot: vector (nullable = true)

In [127]:
from pyspark.ml.functions import vector_to_array

# ta funkcja zamienia wektor rzadki w tablicę
df_col_onehot = df_onehot.select('*', vector_to_array('state_onehot').alias('col_onehot'))
df_col_onehot.show()

+---------+--------------+---------------+----------+---------+-------------+-------------+----------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|State_numeric| State_onehot|col_onehot|
+---------+--------------+---------------+----------+---------+-------------+-------------+----------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
| 162597.7|     151377.59|      443898.53|California|191792.06|          0.0|(2,[0],[1.0])|[1.0, 0.0]|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|          2.0|    (2,[],[])|[0.0, 0.0]|
|144372.41|     118671.85|      383199.62|  New York|182901.99|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|          2.0|    (2,[],[])|[0.0, 0.0]|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
|134615.46|     147198.87|      127716.82|California|156122.51|          0.0|(2,[0],[1.0])|[1.0, 0.0]|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|          2.0|    (2,[],[])|[0.0, 0.0]|
|120542.52|     148718.95|      311613.29|  New York|152211.77|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
|123334.88|     108679.17|      304981.62|California|149759.96|          0.0|(2,[0],[1.0])|[1.0, 0.0]|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|          2.0|    (2,[],[])|[0.0, 0.0]|
|100671.96|      91790.61|      249744.55|California| 144259.4|          0.0|(2,[0],[1.0])|[1.0, 0.0]|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|          2.0|    (2,[],[])|[0.0, 0.0]|
| 91992.39|     135495.07|      252664.93|California|134307.35|          0.0|(2,[0],[1.0])|[1.0, 0.0]|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|          2.0|    (2,[],[])|[0.0, 0.0]|
|114523.61|     122616.84|      261776.23|  New York|129917.04|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
| 78013.11|     121597.55|      264346.06|California|126992.93|          0.0|(2,[0],[1.0])|[1.0, 0.0]|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|          2.0|    (2,[],[])|[0.0, 0.0]|
|  86419.7|     153514.11|            0.0|  New York|122776.86|          1.0|(2,[1],[1.0])|[0.0, 1.0]|
+---------+--------------+---------------+----------+---------+-------------+-------------+----------+
only showing top 20 rows

In [128]:
# rozbijamy wartości z kolumny onehot na tzw. dummy data czyli nowe kolumny dla każdej cechy z wartością = 1
# jeżeli dana cecha w tym wektorze występuje, 0 w przeciwnym wypadku

import pyspark.sql.functions as f

num_categories = len(df_col_onehot.first()['col_onehot']) 
cols_expanded = [(f.col('col_onehot')[i].alias(f'{indexer_fitted.labels[i]}')) for i in range(num_categories)]
df_cols_onehot = df_col_onehot.select('*', *cols_expanded)
df_cols_onehot.show()

+---------+--------------+---------------+----------+---------+-------------+-------------+----------+----------+--------+
|R&D Spend|Administration|Marketing Spend|     State|   Profit|State_numeric| State_onehot|col_onehot|California|New York|
+---------+--------------+---------------+----------+---------+-------------+-------------+----------+----------+--------+
| 165349.2|      136897.8|       471784.1|  New York|192261.83|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
| 162597.7|     151377.59|      443898.53|California|191792.06|          0.0|(2,[0],[1.0])|[1.0, 0.0]|       1.0|     0.0|
|153441.51|     101145.55|      407934.54|   Florida|191050.39|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
|144372.41|     118671.85|      383199.62|  New York|182901.99|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
|142107.34|      91391.77|      366168.42|   Florida|166187.94|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
| 131876.9|      99814.71|      362861.36|  New York|156991.12|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
|134615.46|     147198.87|      127716.82|California|156122.51|          0.0|(2,[0],[1.0])|[1.0, 0.0]|       1.0|     0.0|
|130298.13|     145530.06|      323876.68|   Florida| 155752.6|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
|120542.52|     148718.95|      311613.29|  New York|152211.77|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
|123334.88|     108679.17|      304981.62|California|149759.96|          0.0|(2,[0],[1.0])|[1.0, 0.0]|       1.0|     0.0|
|101913.08|     110594.11|      229160.95|   Florida|146121.95|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
|100671.96|      91790.61|      249744.55|California| 144259.4|          0.0|(2,[0],[1.0])|[1.0, 0.0]|       1.0|     0.0|
| 93863.75|     127320.38|      249839.44|   Florida|141585.52|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
| 91992.39|     135495.07|      252664.93|California|134307.35|          0.0|(2,[0],[1.0])|[1.0, 0.0]|       1.0|     0.0|
|119943.24|     156547.42|      256512.92|   Florida|132602.65|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
|114523.61|     122616.84|      261776.23|  New York|129917.04|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
| 78013.11|     121597.55|      264346.06|California|126992.93|          0.0|(2,[0],[1.0])|[1.0, 0.0]|       1.0|     0.0|
| 94657.16|     145077.58|      282574.31|  New York|125370.37|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
| 91749.16|     114175.79|      294919.57|   Florida| 124266.9|          2.0|    (2,[],[])|[0.0, 0.0]|       0.0|     0.0|
|  86419.7|     153514.11|            0.0|  New York|122776.86|          1.0|(2,[1],[1.0])|[0.0, 1.0]|       0.0|     1.0|
+---------+--------------+---------------+----------+---------+-------------+-------------+----------+----------+--------+
only showing top 20 rows

In [129]:
# dobieramy tylko wybrane kolumny do ostatecznej ramki danych
df_final = df_cols_onehot.select("R&D Spend", "Administration", "Marketing Spend", "California", "New York", "profit")

In [130]:
df_final.show(10)

+---------+--------------+---------------+----------+--------+---------+
|R&D Spend|Administration|Marketing Spend|California|New York|   profit|
+---------+--------------+---------------+----------+--------+---------+
| 165349.2|      136897.8|       471784.1|       0.0|     1.0|192261.83|
| 162597.7|     151377.59|      443898.53|       1.0|     0.0|191792.06|
|153441.51|     101145.55|      407934.54|       0.0|     0.0|191050.39|
|144372.41|     118671.85|      383199.62|       0.0|     1.0|182901.99|
|142107.34|      91391.77|      366168.42|       0.0|     0.0|166187.94|
| 131876.9|      99814.71|      362861.36|       0.0|     1.0|156991.12|
|134615.46|     147198.87|      127716.82|       1.0|     0.0|156122.51|
|130298.13|     145530.06|      323876.68|       0.0|     0.0| 155752.6|
|120542.52|     148718.95|      311613.29|       0.0|     1.0|152211.77|
|123334.88|     108679.17|      304981.62|       1.0|     0.0|149759.96|
+---------+--------------+---------------+----------+--------+---------+
only showing top 10 rows

In [132]:
from pyspark.ml.feature import VectorAssembler

# to transformer, który składa zadane cechy (kolumny) w jeden wektor cech
assembler = VectorAssembler(inputCols=df_final.columns[:-1],outputCol='features')

data_set = assembler.transform(df_final)
data_set = data_set.select(['features','profit'])
data_set.show()

+--------------------+---------+
|            features|   profit|
+--------------------+---------+
|[165349.2,136897....|192261.83|
|[162597.7,151377....|191792.06|
|[153441.51,101145...|191050.39|
|[144372.41,118671...|182901.99|
|[142107.34,91391....|166187.94|
|[131876.9,99814.7...|156991.12|
|[134615.46,147198...|156122.51|
|[130298.13,145530...| 155752.6|
|[120542.52,148718...|152211.77|
|[123334.88,108679...|149759.96|
|[101913.08,110594...|146121.95|
|[100671.96,91790....| 144259.4|
|[93863.75,127320....|141585.52|
|[91992.39,135495....|134307.35|
|[119943.24,156547...|132602.65|
|[114523.61,122616...|129917.04|
|[78013.11,121597....|126992.93|
|[94657.16,145077....|125370.37|
|[91749.16,114175....| 124266.9|
|[86419.7,153514.1...|122776.86|
+--------------------+---------+
only showing top 20 rows

In [137]:
from pyspark.ml.regression import LinearRegression

# podział danych train test
train_data,test_data = data_set.randomSplit([0.8,0.2])

# inicjalizacja modelu regresji
lr = LinearRegression(featuresCol="features",labelCol='profit', regParam=0.1)
lrModel = lr.fit(train_data)
test_stats = lrModel.evaluate(test_data)

# wypisanie wyników
print(f"RMSE: {test_stats.rootMeanSquaredError}")
print(f"R2: {test_stats.r2}")
print(f"MSE: {test_stats.meanSquaredError}")

RMSE: 9432.417289656889
R2: 0.9523442645657374
MSE: 88970495.92621821

### Zadania

**Zadanie 1**

Bazując na przykładach opisanych w tym labie przygotuj podobny eksperyment regresji z wykorzystaniem poniższego zbioru danych:
* https://www.kaggle.com/datasets/amrahhasanov23/otodom-pl-flat-prices-in-poland

W eksperymencie uwzględnij:
* konieczność (lub jej brak) kodowania danych kategorycznych na numeryczne,
* wybór tylko podzbioru cech,
* przeprowadź kilka eksperymentów zapisując wyniki z różnym doborem cech i/lub ich kodowaniem.